-# = CGI.unescapeHTML(@html).html_safe

-#.text-center
-#  %iframe{src: "http://localhost:4002/projects/10000/user_stories", width: "50%", height: "300px", frameborder: "0"}
-# wrong
-#eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZXN0aW9fYXBpX3Rva2VuIjoiYWU4ZGIwMjBjMDk5ZTI4OWQ4OWIzMjM0YjZiOTMxNTBiZjI0ODFmNyIsInByb2R1Y3RfaWRzIjpbMTIsMTMsMTRdLCJjbGllbnRfaWQiOjN9.xaMHsStbxwFPS8rwWt1V70WvTX4gC6QWhTgJJdQLZ1Y

-#right
-#

-#.text-center{ style: 'text-align: center; margin-top: 90px' }
-#  %iframe{style: 'border: 1px solid grey; overflow: scroll !important;', scrolling:"yes", src: "http://localhost:4002/qa_supermarket/bug_trackers_configurations?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZXN0aW9fYXBpX3Rva2VuIjoiYWU4ZGIwMjBjMDk5ZTI4OWQ4OWIzMjM0YjZiOTMxNTBiZjI0ODFmNyIsInByb2R1Y3RfaWRzIjpbMTIsMTMsMTRdLCJjbGllbnRfaWQiOjN9.mQjXcAMbzikF6Fbfw0aNJ92693VKQvVZ3E9CVXr32pw", width: "800px", height: "630px", frameborder: "0"}

.text-center{ style: 'text-align: center; margin-top: 90px' }
  %iframe{style: 'border: 1px solid grey; overflow: scroll !important;', scrolling:"yes", src: "https://trackersync.stage-a.space/qa_supermarket/bug_trackers_configurations?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZXN0aW9fYXBpX3Rva2VuIjoiZTAxNTlkZGEzMDg1ZmVjYTNkMWUzZTExOWMyM2M5MzZkNTZiMmRhMiIsImNsaWVudF9pZCI6IjEiLCJwcm9kdWN0X2lkcyI6WzEsMiwzXX0.S_45H8VANCJLsSwkQ7jKBDj7Ff3iDbQD8s4uf-7q7Jk", width: "800px", height: "630px", frameborder: "0"}
